POSTGRES_DB=prime_car_center
POSTGRES_USER=prime_car_center
POSTGRES_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD
DJANGO_SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
DJANGO_ALLOWED_HOSTS=pcc.getandfix.com,72.62.157.103
CORS_ALLOWED_ORIGINS=https://pcc.getandfix.com
CSRF_TRUSTED_ORIGINS=https://pcc.getandfix.com
